body {
    width: 100%;
    height: 700px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#main {
    width: 100%;
    height: 100%;
    user-select: none;
}

    nav {
        background-color: rgb(0, 110, 255);
        color: aliceblue;
        padding: 10px;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        display: inline;
        margin-right: 70px;
    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    nav ul li a:hover {
        text-decoration: underline;
    }
    body {
        width: 100%;
        height: 1000px;
        margin: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    

    
    #WelcomeText {
        font-size: 30px;
        text-align: center;
    }
    
    #container
    {
        background-color: white;
        width: 500px;
        padding: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
        -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
        box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    }
    
    input[type=text],
    input[type=password]
    {
        width: 500px;
        background-color: #efefef;
        color: black;
        border: 2px solid #ddd;
        border-radius: 5px;
        font-size: 20px;
        padding: 10px;
        box-sizing: border-box;
        outline: none;
        margin-top: 10px;
    }
    
    input[type=text]:focus,
    input[type=password]:focus
    {
        -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
        -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
        box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
        border: 2px solid #00e1ff;
        background-color: #e9f3e9;
        color: black;
    }
    
    input[type=submit]
    {
        width: 500px;
        background-color: hsl(212, 100%, 50%);;
        font-size:20px;
        color: white;
        padding: 15px 10px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        letter-spacing: 2px;
        outline: none;
    }
    
    input[type=submit]:focus
    {
        -webkit-box-shadow: 0px 0px 15px 5px #0099ffe6;
        -moz-box-shadow: 0px 0px 15px 5px #0099ffe6;
        box-shadow: 0px 0px 15px 5px #0099ffe6;
    }
    
    input[type=submit]:hover
    {
        background-color: hsl(212, 100%, 35%);
    }
    
    button
    {
        width: 500px;
        background-color: hsl(212, 100%, 50%);;
        font-size:20px;
        color: white;
        padding: 15px 10px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        letter-spacing: 2px;
        outline: none;
    }
    
    button:focus
    {
        -webkit-box-shadow: 0px 0px 15px 5px #0099ffe6;
        -moz-box-shadow: 0px 0px 15px 5px #0099ffe6;
        box-shadow: 0px 0px 15px 5px #0099ffe6;
    }
    
    button:hover
    {
        background-color: hsl(212, 100%, 35%);
    }
    #Opis{
       height: 200px;
    }
    
    
    