body {
    width: 100%;
    height: 700px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#main {
    width: 100%;
    height: 100%;
    user-select: none;
}

    nav {
        background-color: rgb(0, 110, 255);
        color: aliceblue;
        padding: 10px;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        display: inline;
        margin-right: 70px;
    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    nav ul li a:hover {
        text-decoration: underline;
}